.subscribe-form-input-wrapper{
    width:20%;
     
}
@media screen and (max-width:1300px)
{
    .subscribe-form-input-wrapper{
        width:15%;
    }
    .w-button{
        width:12%;
    }
}
.w-button{
    width: 7%;
}
@media screen and (max-width:700px)
{
    .w-button{
        width:20%;
    }
    .subscribe-form-input-wrapper{
        width:40%;
    }
}
@media screen and (max-width:1300px)
{
    .lasdmanasd{
        width: 30% !important;;
    }
}